@import 'src/assets/common-style/variables.scss';


$series: series;

.#{$series} {
  &-card {
    border-radius: 8px;

    &:nth-of-type(1) {
      background-color: $shade-1;
    }

    &:nth-of-type(2) {
      background-color: $shade-2;
    }

    &:nth-of-type(3) {
      background-color: $shade-3;
    }

    &:nth-of-type(4) {
      background-color: $shade-4;
    }

    &:nth-of-type(5) {
      background-color: $shade-5;
    }

    &:not(:last-of-type) {
      flex-basis: 30%;
      text-align: center;
      flex-direction: column;

      .series-img {
        margin-bottom: rem(15px);
      }
    }

    &:last-of-type {
      flex: 1;

      .series-img {
        margin-right: rem(30px);
      }

      .series-info {
        display: flex;
        flex-direction: column;
        flex: 1;
      }
    }

    .series-img {
      width: 100px;
    }

    @include breakpoint(tablet) {
      .series-img {
        width: 50px;
      }

      .series-desc {
        margin: 5px auto 0;
      }
      &:nth-child(even) {
        margin-right: 0;
      }
      &:not(:last-of-type) {
        flex-basis: 47%;

        .series-img {
          margin-bottom: rem(10px);
        }
      }
      &:last-of-type {
        .series-img {
          margin-right: rem(20px);
        }
      }
    }
  }
}