@import 'src/assets/common-style/variables.scss';


$faqs: faqs;

.#{$faqs} {
  &-main {
    @include breakpoint(tablet) {
      &.layout {
        flex-direction: column;
      }
    }

  }

  &-aside {
    @include breakpoint(minXlTablet) {
      margin-right: rem(25px);
    }
    @include breakpoint(tablet) {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      overflow-x: auto;
      white-space: nowrap;
      border-bottom: 1px solid $grey-1;
      transition: all 0.5s ease-in-out;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &-tab {
    @include breakpoint(minXlTablet) {
      background-color: $white;
      color: $grey-3;
      box-shadow: -7px 8px 16px $shadow-1;
      border-radius: 4px;
      max-width: 235px;

      &:first-of-type {
        margin-bottom: 10px;
      }
      strong {
        color: $black;
      }
    }
    @include breakpoint(tablet) {
      position: relative;
      color: $grey-4;
      &:hover, &:focus, &:active {
        color: $light-blue;

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          border-bottom: 1.5px solid $light-blue;
        }
      }
    }
  }

  &-tab-icon {
    width: 20px;
    height: 20px;
  }
}