@charset "utf-8";
@import "variables";


// Common classes and some element reset tweaks which will use for all projects.

// Elements

// Mobile Fast Click
// clicking links, buttons, and form fields will be a lot quicker and responsive on touch devices.

*, ::after, ::before {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $grey-0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $grey-3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $grey-4;
}


body {
  margin: 0;
}


a,
area,
button,
[role="button"],
input:not([type=range]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

// If anchor tag doesn't have href attribute
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus, :focus {
  outline: 0;
}

.no-text-decoration {
  text-decoration: none;
}

// Images and content
img {
  vertical-align: middle;
  border-style: none; // Remove the border on images inside links in IE 10-.
}

svg {
  // Workaround for the SVG overflow bug in IE10/11 is still required.
  // See https://github.com/twbs/bootstrap/issues/26878
  overflow: hidden;
  vertical-align: middle;
}


.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

//text-align

.text-center {
  text-align: center;
}


// Global position adjustment classes.
.pos {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.pos-fix {
  position: fixed;
}


// END Global position adjustment classes.

// Global display adjustment classes.
.block {
  display: block;
}

.inline-block {
  display: inline-block;
}


// END Global display adjustment classes.

//dimension classes
.width-full {
  width: 100%;
}

.height-full {
  height: 100%;
}

.cursor-hand {
  cursor: pointer;
}

.font-bold {
  font-weight: 700;
}

.scroll-vertical {
  overflow-y: auto;
}


.min-height-full {
  min-height: 100vh;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
  padding-left: rem(16px);
  padding-right: rem(16px);


  @include breakpoint(mobile) {
    max-width: calc(100% - 2rem);
  }

  @include breakpoint(tablet) {
    max-width: 540px;
  }
  @include breakpoint(minXlTablet) {
    max-width: 740px;
  }
  @include breakpoint(desktop) {
    max-width: 980px;
  }
}

@include breakpoint(minXlTablet) {
  .mob-view {
    display: none !important;
  }
}

@include breakpoint(tablet) {
  .web-view {
    display: none !important;
  }
}


